/* Mobile css  */
@media only screen and (max-width: 460px) {
    body{
        background:hsl(229, 24%, 87%);
    }

    /* form box   */
    .sidebar {
        width: 100% !important;
        height: 172px !important;
        color: #fff;
        background-image: url("assets/bg-sidebar-mobile.svg") !important;
        background-size: cover !important;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .sidebar ul {
        display: flex;
    }

    .sidebar ul li p,
    .sidebar ul li h6 {
        display: none;
    }

    .form-steps {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* sidebar end   */

   /* personalInfo   */
   .box{
    width:100% !important;
    padding:0;
   }
   .personalInfo{
    width:90% !important;
    margin:99px auto;
    background:#fff;
    border-radius:10px;
    padding:10px 15px;
   }
   .personalInfo h1{
    font-size:25px;
   }
   .personalInfo p{
    font-size:11px !important;
    padding-bottom:0px !important;
   }
   .personalInfo input,label{
    font-size:11px;
   }
  .bt-group {
    width:100% !important;
    background:#fff;
    text-align:right;
    padding:10px 0;
    margin-top:40px;
  }
}


/* Desktop  css   */
/* sidebar  */
.sidebar {
    width: 100%;
    height: 578px;
    background-image: url("assets/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    color: #fff;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    display: flex;
    gap: 15px;
    padding-top: 20px;
}

.sidebar .roundedBox {
    width: 35px;
    height: 35px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.sidebar ul li p {
    color: hsl(231, 11%, 63%);
    font-size: 12px !important;
}

.sidebar ul li h6 {
    font-size: 13px;
    transform: translateY(-12px);
}

/* sidebar end   */

/* Personal Info    */
.personalInfo{
    width:460px;
    padding-top:17px;
}


.personalInfo h1{
    color:hsl(213, 96%, 18%);
}
.personalInfo p{
    color:hsl(231, 11%, 63%);
    padding-bottom:28px;
}
.personalInfo label{
    color:hsl(213, 96%, 18%);
    font-weight:500;
    margin-top:10px;
}
.bt-group{
    width:460px;
    text-align:right;
    margin-top:100px;
}



